</div>
<script>
    // $('.message .close').on('click', function() {
    //     console.log('sasasa');
    //     $(this).closest('.message').transition('fade');
    // });
    $("#err").on('click', function() {
        console.log('sasasa1');
        $('#errmess').transition('fade');
    });
    $("#succ").on('click', function() {
        console.log('sasasa2');
        $('#succmess').transition('fade');
    });
</script>
</body>

</html>